<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="com.vogella.eclipse.mcp.core.tools">
      <tool class="oct.typhus.mat.internal.MatQueryTool"/>
      <tool class="oct.typhus.mat.internal.MatObjectTool"/>
      <tool class="oct.typhus.mat.internal.MatExtractTool"/>
   </extension>

</plugin>
